<h1><%= @email.subject %></h1>

Date: <%= @email.date %><br>
Message ID: <%= @email.message_id %><br><br>

Delivered to: <%= @email.delivered_to %><br>
Return Path: <%= @email.return_path %><br><br>

<% @email.received.each do |checkpoint| %>
	<p><%= checkpoint %></p>
<% end %>

<%= "From#{@email.from}<br>" if @email.from %>
<%= "To: #{@email.to}<br>" if @email.to %>
<%= "CC: #{@email.cc}<br>" if @email.cc %>
<%= "BCC: #{@email.bcc}<br>" if @email.bcc %>
<br>
REAL SENDER: <%= @email.real_sender %><br><br>

Content-type: <%= @email.content_type %><br>
MIME-Version: <%= @email.mime_version %><br>

<br>

<br>

<%= @email.headers %><br><br>

<%= @email.body %>